table{
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
    text-align: center;
    border-collapse: collapse;
}

caption{
    caption-side: bottom;
    background: #036;
    color: white;
    font-size: 1.3em;
    font-weight: bolder;
    padding: 12px;
}

td{
    border: 1px solid #036;
}

th{
    border: 1px solid;
    background: #036;
    padding: 6px;
    color: white;
    text-transform: uppercase;
}